@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.visually-hidden {
    display: none;
}

ul {
    list-style-type: none;
}

body {
}

/* ---------- HEADER ----------*/

header {
    max-width: 1440px;
    padding: 40px 135px 0;
    margin: 0 auto;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-wrap {
    display: flex;
    grid-gap: 52px;
    align-items: center;
}

.header__logo {
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    line-height: 26px;
    color: #25a4ad;
    font-weight: 700;
}

.header-list {
    display: flex;
    grid-gap: 50px;
}

.header__link {
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    line-height: 26px;
    font-weight: 300;
}

.header__link:hover {
    cursor: pointer;
    text-decoration: underline;
}

.header-buttons {
    display: flex;
    grid-gap: 28px;
}

.btn {
    border: none;
    background: white;
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
}

.btn:hover {
    cursor: pointer;
    text-decoration: underline;
}

.btn-blue-line {
    border: 1px solid #25a4ad;
    padding: 18px 45px;
    background: white;
    color: #25a4ad;
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
}

.btn-blue-line:hover {
    background: #25a4ad;
    color: white;
    cursor: pointer;
}

.btn-blue {
    border: 1px solid #25a4ad;
    padding: 18px 45px;
    background: #25a4ad;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
}

/* -------------- BANNER ------------ */

.banner-wrapper {
    max-width: 1440px;
    margin: 14px auto 0;
    padding: 233px 135px 182px;
    /* background-image: url(./img/2.png); */
}

.banner__title {
    font-family: "Roboto", sans-serif;
    font-size: 100px;
    font-weight: 100;
    line-height: 100%;
}

.banner__title-blue {
    font-family: "Roboto", sans-serif;
    font-size: 100px;
    line-height: 100%;
    color: #25a4ad;
}

.banner__text {
    margin-top: 30px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 22.66px;
    max-width: 426px;
}

.banner-wrap {
    margin-top: 40px;
    display: flex;
    grid-gap: 20px;
}

/* -------------- brends ------------ */

.brends {
    background: #f8f8f8;
}

.brends-wrapper {
    max-width: 1440px;
    height: 170px;
    padding: 0 163px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.brends-list {
    display: flex;
    width: 1115px;
    justify-content: space-between;
}

/* -------------- services ------------ */

.services-wrapper {
    max-width: 1440px;
    margin: 140px auto 0;
    padding: 140px 218px;
}

.services-wrap {
    display: flex;
    justify-content: center;
    grid-gap: 20px;
}

.services__title {
    font-family: "Roboto", sans-serif;
    font-size: 65px;
    line-height: 65px;
    font-weight: 100;
}

.services__title-blue {
    font-family: "Roboto", sans-serif;
    font-size: 65px;
    line-height: 65px;
    font-weight: 500;
    color: #25a4ad;
}

.services__text {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 23.66px;
    max-width: 620px;
    margin: 30px auto 0;
    text-align: center;
}

.services-wrap-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    margin-top: 80px;
}

.services__grid {
    max-width: 482px;
    max-height: 472px;
    position: relative;
    color: white;
    background: black;
    display: block;
}

.services__grid:nth-child(1) {
    border-radius: 236px 0 0 0;
}

.services__grid:nth-child(2) {
    margin-top: 80px;
    border-radius: 0 236px 0 0;
}

.services__grid:nth-child(3) {
    margin-top: -80px;
    border-radius: 0 0 0 236px;
}

.services__grid:nth-child(4) {
    border-radius: 0 0 236px 0;
}

.services-article-stars-wrapp {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.services__article {
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    line-height: 100%;
    text-align: center;
}

.services-stars-wrap {
    display: flex;
    grid-gap: 1px;
    margin-top: 16px;
    justify-content: center;
}

.services__img {
    display: block;
    max-width: 482px;
    opacity: 0.5;
}

#services-btn-blue-line {
    display: block;
    margin: 80px auto 0;
}

/* -------------- features ------------ */

.features {
    background: #f8f8f8;
}

.features-wrapper {
    max-width: 1440px;
    padding: 80px 135px;
    margin: 0 auto;
}

.features-wrap {
    text-align: center;
}

.features__title {
    font-family: "Roboto", sans-serif;
    font-size: 65px;
    line-height: 100%;
    font-weight: 100;
}

.features__title-blue {
    font-family: "Roboto", sans-serif;
    font-size: 65px;
    line-height: 100%;
    font-weight: 400;
    margin-left: 10px;
    color: #25a4ad;
}

.features__description {
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    max-width: 620px;
}

.features-list {
    display: flex;
    grid-gap: 40px;
    margin-top: 80px;
}

.features-list__item {
    max-width: 350px;
    height: 342px;
    border: 1px solid #d8d8d8;
    padding: 38px 33px 40px;
}

.features__article {
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
}

.features__text {
    margin-top: 25px;
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-size: 16px;
    line-height: 100%;
    color: #313131;
}

.features__link {
    margin-top: 50px;
    display: block;
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    color: #313131;
}

.features-list__item {
    
}
